[user]
	name = CarefulNow
	email = daniel+ghp@dodgitech.com
	signingkey = 9E06ED409990B623
[core]
	editor = nvim
[commit]
	gpgsign = true
[pull]
	rebase = true
[alias]
	locate = "!f() { git ls-tree -r --name-only HEAD | grep -i --color -E $1 - ; } ; f"
	unstage = reset HEAD
	co = checkout
	br = branch
	c = commit -m
	st = status
	sba = show-branch --color=always -a --more=10 --no-name
	sban = show-branch --color=always -a --more=10
	a = add
	aa = add .
	dry = add . --dry-run
	po = pull origin
	puo = push origin
	puof = push origin --force-with-lease
	rl = reflog
	lp = log --pretty=format:\"%h - %an, %ad : %s\"
	lpfh = log --pretty=format:\"%H - %an, %ad : %s\"
	fo = fetch origin -p
	last = log -1 HEAD
